<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Código de verificación</title>

  <style type="text/css">
    /* @import url("https://americanino.myvtex.com/arquivos/Helvetica.ttf.css"); */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      color: #000;
    }

    body {
      max-width: 600px;
      margin: 0 auto;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
    }

    table,
    th,
    td {
      border-spacing: 0;
    }

    table {
      width: 600px;
      margin: 0 auto;
    }

    a {
      text-decoration: none;
    }

    #mail {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
    }

    /* HEADER STYLES ------------------------------------------------ */
    #mail-header .top-message {
      width: 100%;
      max-width: 600px;
    }

    #mail-header .top-message th {
      margin: auto;
      width: 100%;
      background-color: #fff;
      font-weight: 300;
      color: #000;
      font-size: 0.75rem;
      text-align: center;
      line-height: 1.5rem;
    }

    #mail-header .top-message th a {
      color: #000;
      text-decoration: none;
      letter-spacing: 1px;
    }

    #mail-header .header-content {
      margin: auto;
      height: 5rem;
      background-color: #000;
    }

    #mail-header .header-content th {
      margin: auto;
      padding: 1rem;
    }

    #mail-header .header-content th:first-child {
      text-align: left;
    }

    #mail-header .header-content strong,
    #mail-header .header-content p {
      text-align: right;
      color: #fff;
      font-size: 0.75rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      line-height: 110%;
      text-transform: uppercase;
    }

    #mail-header .header-content p {
      font-size: 0.625rem;
      font-weight: 300;
    }

    #mail-header .header-content th img {
      height: 2.75rem;
      width: auto;
    }

    /* FOOTER STYLES ------------------------------------------------ */
    #mail-footer {
      background-color: #000;
    }

    #mail-footer tr .mail-footer-left-column {
      padding: 1rem;
      text-align: left;
    }

    #mail-footer tr .mail-footer-left-column div {
      text-align: left;
      color: #ffffff;
      font-size: 0.625rem;
      font-family: Roboto;
      letter-spacing: 0.1rem;
      line-height: 110%;
    }

    #mail-footer tr .mail-footer-left-column p {
      text-align: left;
      color: #ffffff;
      font-size: 0.625rem;
      font-family: Roboto;
      font-weight: 400;
      letter-spacing: 0.1rem;
      line-height: 110%;
    }

    #mail-footer tr .mail-footer-left-column p+p {
      margin-top: 0.25rem;
    }

    #mail-footer tr .mail-footer-left-column p strong {
      font-family: Roboto;
      font-weight: 600;
    }

    #mail-footer tr .mail-footer-right-column {
      text-align: center;
      padding: 1rem;
    }

    #mail-footer tr .mail-footer-right-column p {
      padding: 0 0.25rem 0.5rem 0;

      text-align: center;
      color: #ffffff;
      font-size: 0.625rem;
      font-family: Roboto;
      letter-spacing: 0.2rem;
      line-height: 100%;
    }

    #mail-footer tr .mail-footer-left-column p a,
    #mail-footer tr .mail-footer-right-column p a {
      color: #ffffff;
      text-decoration: none;
    }

    #mail-footer tr .mail-footer-right-column div a {
      color: #ffffff;
      text-decoration: none;
    }

    #mail-footer tr .mail-footer-right-column div a+a {
      margin-left: 0.5rem;
    }

    #mail-footer tr .mail-footer-right-column div a img {
      display: inline-block;
      /* width: 1.5rem;
      height: 1.5rem; */
      border-radius: 50%;
    }

    #footer-notes {
      padding: 10px 20px;
      margin: 0;
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 0.75rem;
      line-height: 0.875rem;
    }

    #footer-notes a {
      font-family: Roboto, sans-serif;
      font-weight: 700;
      text-decoration: none;
      color: #000;
    }

    /* BODY STYLES ------------------------------------------------ */
    #mail-body .body-content,
    #footer-message .footer-message-content {
      text-align: center;
    }

    #mail-body .content-title {
      color: #000;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      font-size: 1.125rem;
      line-height: 110%;
      margin-top: 2rem;
    }

    #welcome-message {
      color: #000;
      font-family: Roboto, sans-serif;
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 110%;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }

    #mail-body .main-message {
      margin-top: 1.75rem;
      color: #000;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      font-size: 0.875rem;
      line-height: 110%;
      letter-spacing: 0.1rem;
    }

    #mail-body .main-message-bottom {
      margin-bottom: 1rem;
    }

    #access-key {
      width: fit-content;
      margin: 0.5rem auto 6rem;
      padding: 1rem 2.5rem;
      color: #fff;
      background-color: #000;
      font-family: Roboto, sans-serif;
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 110%;
      letter-spacing: 0.1rem;
    }

    #footer-message {
      background-color: #f7f7f7;
    }

    #footer-message .footer-message-content {
      padding: 1.5rem 0 1rem;
    }

    #footer-message .footer-message-content strong {
      color: #000;
      font-family: Roboto, sans-serif;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 110%;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }

    #footer-message .footer-message-content p {
      color: #000;
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 110%;
      letter-spacing: 0.1rem;
    }
  </style>
</head>

<body>
  <table>
    <thead id="mail-header">
      <tr class="top-message">
        <th colspan="6">
          Telefono: <a href="tel:+56912345678">+569 1234 5678</a> | Correo:
          <a href="mailto:servicioalcliente@nafnaf.com.co">servicioalcliente@nafnaf.com.co</a>
        </th>
      </tr>
      <tr class="header-content">
        <th colspan="2">
          <img style="max-width: 180px; height: auto" src="https://www.nafnaf.com.co/arquivos/mailing-nafnaf-logo.png"
            alt="Naf Naf Logo" />
        </th>
        <th colspan="2"></th>
        <th colspan="2" style="text-align: right">
          <strong>CÓDIGO DE VERIFICACIÓN</strong>
          <!-- <p>Fecha: {{formatDate orders.0.creationDate}}</p> -->
        </th>
      </tr>
      <tr>
        <th colspan="6">
          <img style="width: 100%; max-height: 272px; object-fit: cover"
            src="https://www.nafnaf.com.co/arquivos/mailing-top-banner.png" alt="Naf Naf Logo" />
        </th>
      </tr>
    </thead>

    <tbody>
      <tr id="mail-body">
        <td colspan="6">
          <div class="body-content">
            <p class="content-title">Hola, {{to.0.name}}</p>
            <strong id="welcome-message">¡GRACIAS POR COMPRAR EN NAFNAF.COM.CO!</strong>
            <p class="main-message">
              Debemos verificar tu identidad para que puedes acceder a la
              página. Por favor regresa a la página y digita el siguiente
              código
            </p>
            <p class="content-title">Código:</p>
            <p id="access-key">{{aditionalData.accessKey}}</p>
            <p class="main-message main-message-bottom">
              Esto es un procedimiento 100% Seguro.
            </p>
          </div>
        </td>
      </tr>
      <tr id="footer-message">
        <td colspan="6">
          <div class="footer-message-content">
            <strong>¡NOS VEMOS PRONTO! </strong>
            <p>Muchas Gracias, NAF NAF</p>
          </div>
        </td>
      </tr>
    </tbody>

    <tfoot id="mail-footer">
      <tr>
        <td colspan="2" class="mail-footer-left-column">
          <p>
            Linea de atención al cliente<br /><strong><a href="tel:+018000187009">01 8000 187 009</a></strong>
          </p>
          <p>
            Correo<br /><strong><a
                href="mailto:servicioalcliente@nafnaf.com.co">servicioalcliente@nafnaf.com.co</a></strong>
          </p>
        </td>
        <td colspan="2" class="mail-footer-mid-column">
          <img style="max-width: 157px" src="https://www.nafnaf.com.co/arquivos/mailing-nafnaf-logo.png"
            alt="Naf Naf Logo" />
        </td>
        <td colspan="2" class="mail-footer-right-column">
          <p>
            <a style="text-transform: uppercase" href="NafNaf.com.co">NafNaf.com.co</a>
          </p>
          <p>¡Síguenos en nuestras REDES SOCIALES!</p>
          <div>
            <a href="https://www.facebook.com/nafnaflatam">
              <img style="background-color: transparent"
                src="https://www.nafnaf.com.co/arquivos/mailing-facebook-icon.svg" alt="Naf Naf Facebook icon" />
            </a>
            <a href="http://instagram.com/nafnafcol">
              <img style="background-color: transparent"
                src="https://www.nafnaf.com.co/arquivos/mailing-instagram-icon.svg" alt="Naf Naf Instagram icon" />
            </a>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</body>

</html>